@{
    ViewBag.Title = "OpenEHS - Help";
}
@section head
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#help-tab").addClass("current");
        });
    </script>
}
<h1>
    Help
</h1>
<div id="links">
    <h2>@Html.ActionLink("Patient Search", "PatientSearch")</h2>
    <h2>@Html.ActionLink("Patient Creation", "PatientCreation")</h2>
    <h2>@Html.ActionLink("Patient Resources", "PatientResources")</h2>
</div>
