/* 
*   Segoe UI Typeface Imports
*/

@font-face 
{
    font-family: Segoe;
    font-weight: normal;
    font-style: normal;
    src: url("segoe/woff/segoeui.woff") format("woff");
}

@font-face
{
    font-family: "Segoe Bold";
    font-weight: bold;
    font-style: normal;
    src: url("segoe/woff/segoeb.woff") format("woff");;
}

@font-face
{
    font-family: "Segoe Semibold";
    font-weight: 600;
    font-style: normal;
    src: url("segoe/woff/segoeuisb.woff") format("woff");;
}

@font-face
{
    font-family: "Segoe Italic";
    font-weight: normal;
    font-style: italic;
    src: url("segoe/woff/segoeuii.woff") format("woff");;
}

@font-face
{
    font-family: "Segoe Bold Italic";
    font-weight: bold;
    font-style: italic;
    src: url("segoe/woff/segoeuiz.woff") format("woff");;
}

@font-face
{
    font-family: "Segoe Light";
    font-weight: normal;
    font-style: normal;
    src: url("segoe/woff/segouil.woff") format("woff");
}