@{
    ViewBag.Title = "OpenEHS - Reports";
}
@section head
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#reports-tab").addClass("current");
        });
    </script>
}

<h2>Reports</h2>

<a href="ReportContent/MonthlyReports.aspx">Monthly Inpatient/Outpatient Reports</a>
<br />
<a href="ReportContent/DailyReports.aspx">Daily Ward Reports</a>