@{
    ViewBag.Title = "Reports";
}
@section head
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#reports-tab").addClass("current");
        });
    </script>

    <style type="text/css">
        .link
        {
        	font-family:Sans-Serif;
        	font-size:large;
        }
        
    </style>
}

<h2>Reports</h2>
<br />

@Html.ActionLink("Daily Ward Report", "DailyWardReport");