@{
    ViewBag.Title = "OpenEHS - Reports";
}
@section head
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#reports-tab").addClass("current");
        });
    </script>
}

<h2>Reports</h2>

