@model OpenEhs.Web.Models.PatientViewModel
<div id="chronicDiseasesHeader" class="group">
    <h2 id="ChronicDiseases">
        Chronic Diseases</h2>
    <input class="chronicDiseasesAddButton" id="chronicDiseasesAddButton" name="chronicDiseasesAddButton"
        type="button" value="Add" />
</div>
<div>
    <ul id="ChronicDiseaseList">
        @foreach (var disease in Model.Problems) {
            <li class="group">
                <div style="float: left;">@disease.ProblemName</div>
                <div style="float: right;">
                    <input class="chronicDiseasesRemove" id="@disease.Id" value="Remove" type="button" />
                </div>
            </li>
        }
    </ul>
</div>
