@model OpenEhs.Web.Models.PatientViewModel

<div id="SurgeryNotes">
    <label for="surgeryNoteTextBox">
        <b>Surgery Notes</b></label>
    <textarea rows="30" cols="20" name="surgeryNoteTextBox" id="surgeryNoteTextBox">Surgery Notes...</textarea>
</div>