@model OpenEhs.Domain.Patient
<div id="chronicDiseasesHeader" class="group">
    <h2 id="ChronicDiseases">
        Chronic Diseases</h2>
    <input class="chronicDiseasesAddButton" id="chronicDiseasesAddButton" name="chronicDiseasesAddButton"
        type="button" value="Add" />
</div>
<div>
    <ul id="ChronicDiseaseList">
        @foreach (var disease in Model.Problems) {
            <li class="group">
                <div style="float: left;">@disease.ProblemName</div>
                <div style="float: right;">
                    <img src="@Url.Content("~/images/common/icons/16x16/Delete.png")" alt="Delete" /></div>
            </li>
        }
    </ul>
</div>
