@model OpenEhs.Web.Models.PatientViewModel

<div class="group">
    <h2 id="Charting">
        Charting</h2>
</div>

<br />

<div id="chartingHeader">
    <fieldset>
        <legend>Feed Chart</legend>

        <input class="feedAddButton" id="feedAddButton" name="feedAddButton"
        type="button" value="Add" />

        <table>
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Feed Type
                    </th>
                    <th>
                        Amount Offered
                    </th>
                    <th>
                        Amount Taken
                    </th>
                    <th>
                        Vomit
                    </th>
                    <th>
                        Urine
                    </th>
                    <th>
                        Stool
                    </th>
                    <th>
                        Comments
                    </th>
                </tr>
            </thead>
        </table>

    </fieldset>

    <br />

    <fieldset>
        <legend>Fluid Chart</legend>

        <input class="intakeAddButton" id="intakeAddButton" name="intakeAddButton"
        type="button" value="Add Intake" />

        <input class="outakeAddButton" id="outakeAddButton" name="outakeAddButton"
        type="button" value="Add Output" />

        <fieldset>
            <legend>InTake</legend>
        </fieldset>

        <br />

        <fieldset>
            <legend>OutPut</legend>
        </fieldset>

    </fieldset>
</div>