@model OpenEhs.Web.Models.UserViewModel

@{
    ViewBag.Title = "OpenEHS - User Management";
}
@section head
{
    <style type="text/css">
        input, select
        {
            font-size: 1.6em;
        }
        
        #SearchTerm
        {
            float: right;
            width: 400px;
        }
        
        .focusSearchTextbox
        {
            color: #000;
        }
            
        .blurSearchTextbox
        {
            color: #aaa;
            font-style: italic;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#SearchTerm").val("Search").addClass("blurSearchTextbox");

            $("#SearchTerm").focus(function () {
                $("#SearchTerm").removeClass("blurSearchTextbox");
                $("#SearchTerm").addClass("focusSearchTextbox");
                $("#SearchTerm").val("");
            });

            $("#SearchTerm").blur(function () {
                $("#SearchTerm").removeClass("focusSearchTextbox");
                $("#SearchTerm").addClass("blurSearchTextbox");
                $("#SearchTerm").val("Search");
            });

            $("#SelectedRole").change(function (data) {
                alert($("#SelectedRole option:selected").val() + " selected!");
            });

            $("#alphabet").tabs({
                ajaxOptions: {
                    error: function (xhr, status, index, anchor) {
                        $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible.");
                    }
                }
            });
        });
    </script>
}


<h2>User Management</h2>
<div class="group">
@using (Html.BeginForm())
{
    <input type="submit" name="NewUserButton" id="NewUserButton" value="New User" />
    @Html.DropDownListFor(m => m.SelectedRole, Model.Roles)
    @Html.TextBoxFor(m => m.SearchTerm)
    <div id="alphabet">
        <ul>
            <li><a href="/User/GetUsersStartingWith/A"><span>A</span></a></li>
            <li><a href="/User/GetUsersStartingWith/B"><span>B</span></a></li>
            <li><a href="/User/GetUsersStartingWith/C"><span>C</span></a></li>
            <li><a href="/User/GetUsersStartingWith/D"><span>D</span></a></li>
            <li><a href="/User/GetUsersStartingWith/E"><span>E</span></a></li>
            <li><a href="/User/GetUsersStartingWith/F"><span>F</span></a></li>
            <li><a href="/User/GetUsersStartingWith/G"><span>G</span></a></li>
            <li><a href="/User/GetUsersStartingWith/H"><span>H</span></a></li>
            <li><a href="/User/GetUsersStartingWith/I"><span>I</span></a></li>
            <li><a href="/User/GetUsersStartingWith/J"><span>H</span></a></li>
            <li><a href="/User/GetUsersStartingWith/K"><span>K</span></a></li>
            <li><a href="/User/GetUsersStartingWith/L"><span>L</span></a></li>
            <li><a href="/User/GetUsersStartingWith/M"><span>M</span></a></li>
            <li><a href="/User/GetUsersStartingWith/N"><span>N</span></a></li>
            <li><a href="/User/GetUsersStartingWith/O"><span>O</span></a></li>
            <li><a href="/User/GetUsersStartingWith/P"><span>P</span></a></li>
            <li><a href="/User/GetUsersStartingWith/Q"><span>Q</span></a></li>
            <li><a href="/User/GetUsersStartingWith/R"><span>R</span></a></li>
            <li><a href="/User/GetUsersStartingWith/S"><span>S</span></a></li>
            <li><a href="/User/GetUsersStartingWith/T"><span>T</span></a></li>
            <li><a href="/User/GetUsersStartingWith/U"><span>U</span></a></li>
            <li><a href="/User/GetUsersStartingWith/V"><span>V</span></a></li>
            <li><a href="/User/GetUsersStartingWith/W"><span>W</span></a></li>
            <li><a href="/User/GetUsersStartingWith/X"><span>X</span></a></li>
            <li><a href="/User/GetUsersStartingWith/Y"><span>Y</span></a></li>
            <li><a href="/User/GetUsersStartingWith/Z"><span>Z</span></a></li>
        </ul>
    </div>
}
</div>