fieldset {
    clear: both;
    padding: 20px;
}

#newCheckInButton
{
    height: 30px;
    width: 95px;
    float: right; 
    margin-right: 15px; 
    margin-top: 7px;
    font-size: 10px;
    font-weight: bold;
    border-bottom-width: medium;
    border-left-width: medium;
    border-right-width: medium;
    border-top-width: medium;
}

#editPatientInfoButton
{
    height: 30px;
    width: 95px;
    float: right; 
    margin-right: 15px; 
    margin-top: 7px;
    font-size: 10px;
    font-weight: bold;
    border-bottom-width: medium;
    border-left-width: medium;
    border-right-width: medium;
    border-top-width: medium;
}

.allergyRemove
{
	padding: 5px; 
	font-size: 14px; 
	margin: 3px 10px 3px 0px;
}

.chronicDiseasesRemove
{
	padding: 5px; 
	font-size: 14px; 
	margin: 3px 10px 3px 0px;
}

.column {
    float: left;
    margin-right: 20px;
}

.modal-label {
    width: 100px;
}

#BasicInformationColumn {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

#BasicInformationNotes {
    float: left;
}

#Id {
    width: 80px;
}

#FirstName, #MiddleName, #LastName, #PhoneNumber {
    width: 125px;
}

#DateOfBirth {
    width: 80px;
}

#Address_City, #Address_Region {
    width: 125px;
}

#patientViewHeader 
{
    border: 1px solid #aaa;
    background-color: #eee;
    clear: both;
    margin-left: 170px;
    margin-bottom: -5px;
    padding-left: 28px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#patientViewHeader h2 {
    float: left;
    padding: 0px;
}

#patientViewHeader div 
{
    padding-top: 5px;
}

#allergiesHeader {
    margin-left: 20px;
    padding: 1px;
}

#allergiesTable {
    margin-left: 40px;
    margin-bottom: 20px;
}

#allergiesTable td {
    width: 150px;
}

#vitalsHeader
{
    padding-right: 10px;
    clear: both;
}

#allergyHeader
{
	padding-right: 10px;
    clear: both;
}

#medicationHeader
{
	padding-right: 10px;
    clear: both;
}

#chronicDiseasesHeader
{
	padding-right: 10px;
    clear: both;
}

#chronicDiseasesHeader input
{
    margin-top: 15px;
    float: right;
}

#chronicDiseasesHeader h2
{
    float: left;
}

#allergyHeader h2
{
    float: left;
}

#medicationHeader h2
{
    float: left;
}

#vitalsHeader h2
{
    float: left;
}

#vitalsHeader input
{
    margin-top: 15px;
    float: right;
}

#allergyHeader input
{
    margin-top: 15px;
    float: right;
}

#medicationHeader input
{
    margin-top: 15px;
    float: right;
}

#noteTextBox
{
    width: 150px;
}

fieldset
{
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#BasicMoreInfoLink
{
    clear: both;
    color: #00f;
    cursor: pointer;
    margin: 10px 0px 5px 0px;
}

#BasicMoreInfo
{
    clear: both;
    display: none;
}

#EmergencyContactMoreInfoLink {
    color: #00f;
    cursor: pointer;
    margin: 10px 0px 5px 0px;
}

#EmergencyContactMoreInfo {
    display: none;
}

#ChronicDiseaseList li
{
    font-size: 1.4em;
    list-style: none;
    background-color: #eee;
    border: 1px solid #aaa;
    width: 600px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
	padding-left: 10px;
}

#AllergyList li
{
    font-size: 1.4em;
    list-style: none;
    background-color: #eee;
    border: 1px solid #aaa;
    width: 600px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
	padding-left: 10px;
}

#MedicationListOne li
{
    font-size: 1.2em;
    list-style: none;
    background-color: #eee;
    border: 1px solid #aaa;
    width: 600px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#MedicationListTwo li
{
    font-size: 1.2em;
    list-style: none;
    background-color: #eee;
    border: 1px solid #aaa;
    width: 600px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#MedicationListThree li
{
    font-size: 1.2em;
    list-style: none;
    background-color: #eee;
    border: 1px solid #aaa;
    width: 600px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#MedicationListFour li
{
    font-size: 1.2em;
    list-style: none;
    background-color: #eee;
    border: 1px solid #aaa;
    width: 600px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#immunizationHeader
{
	padding-left: 10px;
	clear: both;
}

#immunizationHeader h2
{
    float: left;
}

#immunizationHeader input
{
    margin-top: 15px;
    float: right;
}

#immunizationListOne li
{
    font-size: 1.2em;
    list-style: none;
    background-color: #eee;
    border: 1px solid #aaa;
    width: 600px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#immunizationListTwo li
{
    font-size: 1.2em;
    list-style: none;
    background-color: #eee;
    border: 1px solid #aaa;
    width: 600px;
    padding: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#dxHistoryHeader
{
	padding-left: 10px;
	clear: both;
}

#dxHistoryHeader h2
{
    float: left;
}

#dxHistoryHeader input
{
    margin-top: 15px;
    float: right;
}

#immunizationInfoLink
{
    clear: both;
    color: #00f;
    cursor: pointer;
    margin: 10px 0px 5px 40px;
    font-size: 15px;
}

#immunizationMoreInfo
{
    clear: both;
    display: none;
}

#immunizationTitle
{
    margin-left: 40px
}

#rxTitle
{
    margin-left: 40px
}

#dxTitle
{
    margin-left: 40px
}

#rxInfoLink
{
    clear: both;
    color: #00f;
    cursor: pointer;
    margin: 10px 0px 5px 40px;
    font-size: 15px;
}

#rxMoreInfo
{
    clear: both;
    display: none;
}