@model OpenEhs.Domain.Patient
<div id="immunizationHeader" class="group">
    <h2 id="immunization">
        Immunization
	</h2>
    <input id="immunizationAddButton" name="immunizationAddButton" type="button" value="Add" />
</div>

<div>
	<ul id="immunizationList">
		@if(Model.Immunizations.Count == 0)
		{
			<li>Patient does not have any recorded immunizations.</li>
		}
		else
		{
		foreach(var shots in Model.Immunizations)
		{
			<li class="group">
				<div style="float: left;"><b>Vaccine Type: </b>@shots.VaccineType</div><br />
				<div style="float: left;"><b>Date Administered: </b>@shots.DateAdministered</div>
			</li>
            }
        }
	</ul>
</div>
