@model OpenEhs.Web.Models.PatientViewModel

<div id="chartingHeader" class="group">
    <h2 id="Charting">
        Charting</h2>
</div>

<div>
    <fieldset>
        <legend>asdfasdf</legend>
    </fieldset>
</div>