@model OpenEhs.Domain.Patient
<div id="ImmunizationHeader" class="group">
    <h2 id="Immunization">
        Immunization</h2>
    <input id="immunizationAddButton" name="immunizationAddButton" type="button" value="Add" />
</div>

<div>

</div>
