@model OpenEhs.Web.Models.PatientViewModel

<div class="group">
    <h2 id="Charting">
        Charting</h2>
</div>

<br />

<div>
    <fieldset>
        <legend>Feed Chart</legend>

        <input class="feedAddButton" id="feedAddButton" name="feedAddButton"
        type="button" value="Add" />

         <div id="feedSliderInfoLink">
                    Feed Details...
         </div>
         <div id="feedSliderMoreInfo">

        <table>
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Feed Type
                    </th>
                    <th>
                        Amount Offered
                    </th>
                    <th>
                        Amount Taken
                    </th>
                    <th>
                        Vomit
                    </th>
                    <th>
                        Urine
                    </th>
                    <th>
                        Stool
                    </th>
                    <th>
                        Comments
                    </th>
                </tr>
            </thead>
        </table>

        </div>

    </fieldset>

    <br />
    <br />

    <fieldset>
        <legend>Fluid Chart</legend>

        <fieldset>
            <legend>InTake</legend>

            <input class="intakeAddButton" id="intakeAddButton" name="intakeAddButton"
                type="button" value="Add Intake" />

            <div id="intakeSliderInfoLink">
                    Feed Details...
            </div>
            <div id="intakeSliderMoreInfo">

            <table>
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Kind of Fluid
                        </th>
                        <th>
                            Amount
                        </th>
                    </tr>
                </thead>
            </table>

            </div>

        </fieldset>

        <br />

        <fieldset>
            <legend>OutPut</legend>

            <input class="suctionAddButton" id="suctionAddButton" name="suctionAddButton"
                type="button" value="Chart Suction" />

            <input class="urineAddButton" id="urineAddButton" name="urineAddButton"
                type="button" value="Chart Urine" />

            <input class="stoolAddButton" id="stoolAddButton" name="stoolAddButton"
                type="button" value="Chart Stool" />


                <div id="suctionSliderInfoLink">
                    Suction Details...
                </div>
                <div id="suctionSliderMoreInfo">

                <table id="Suction">
                    <thead>
                        <tr class="bottomRow">
                            <th colspan="3">
                                <b>N.G. Suction</b>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Time
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Colour
                            </th>
                        </tr>
                    </thead>
                </table>

                </div>

                <div id="urineSliderInfoLink">
                    Urine Details...
                </div>
                <div id="urineSliderMoreInfo">

                <table id="Urine">
                    <thead>
                        <tr class="bottomRow">
                            <th colspan="2">
                                <b>Urine</b>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Time
                            </th>
                            <th>
                                Amount
                            </th>
                        </tr>
                    </thead>
                </table>

                </div>

                 <div id="stoolSliderInfoLink">
                    Stool Details...
                </div>
                <div id="stoolSliderMoreInfo">

                <table id="Stool">
                    <thead>
                        <tr class="bottomRow">
                            <th colspan="3">
                                <b>Stool</b>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Time
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Colour
                            </th>
                        </tr>
                    </thead>
                </table>

                </div>

        </fieldset>

    </fieldset>
</div>