@model OpenEhs.Domain.Patient

            <h2 id="RxList">
                Rx List</h2>
            <ul>
                <li>Rx Item 1</li>
                <li>Rx Item 2</li>
                <li>Rx Item 3</li>
            </ul>