@model OpenEhs.Web.Models.PatientViewModel
<div id="dxHistoryHeader" class="group">
    <h2 id="dxHistory">
        Diagnosis History</h2>
    <input id="dxHistoryAddButton" name="dxHistoryAddButton" type="button" value="Add" />
</div>

<div>
	<p><b>
		Last 5 recorded diagnosis's
	</b></p>
	








</div>