@model OpenEhs.Domain.Patient


            <h2 id="DxHistory">
                Dx History</h2>
            <ul>
                <li>History Item 1</li>
                <li>History Item 2</li>
                <li>History Item 3</li>
            </ul>
