@model OpenEhs.Web.Models.PatientViewModel
<div id="dxHistoryHeader" class="group">
    <h2 id="dxHistory">
        Dx History</h2>
    <input id="dxHistoryAddButton" name="dxHistoryAddButton" type="button" value="Add" />
</div>


<div>

@foreach(var shots in Model.TenYearImmunization)
{
	if(shots.DateAdministered >= DateTime.Now.AddYears(-10))
	{
	<ul id="immunizationList">
		<li class="group">
			<div style="float: left;"><b>Vaccine Type: </b>@shots.VaccineType</div><br />
			<div style="float: left;"><b>Date Administered: </b>@shots.DateAdministered</div>
		</li>
	</ul>
	}
}

</div>