@model OpenEhs.Domain.Patient
<div id="immunizationHeader" class="group">
    <h2 id="immunization">
        Immunization
	</h2>
    <input id="immunizationAddButton" name="immunizationAddButton" type="button" value="Add" />
</div>

<div>
	
</div>
