@model OpenEhs.Domain.Patient
<div id="dxHistoryHeader" class="group">
    <h2 id="dxHistory">
        Dx History</h2>
    <input id="dxHistoryAddButton" name="dxHistoryAddButton" type="button" value="Add" />
</div>

<div>


        
</div>