@model OpenEhs.Web.Models.PatientViewModel

<div id="noteHeader" class="group">
    <h2 id="notes">
        Notes
    </h2>
    <input id="submitNoteButton" name="submitNoteButton" type="button" value="Add Note" />
</div>


<div>

	<ul id="submittedNoteList">
        
            <li>This is where the notes will go once submitted</li>
       
    </ul>


</div>

<div id="newNoteDialog" title="New Note">
    <ul class="modalErrorContainer" style="display: none">
    </ul>
    <form id="newNoteForm" action="">
    <fieldset>
        <div class="modal-label-long">
        </div>
			<div id="Notes">
				<label for="NotesTextBox" id="surgeryNoteLable"><b>Notes</b></label>
				<textarea rows="30" cols="20" name="NotesTextBox" id="NotesTextBox"></textarea>
			</div>

	<fieldset id="templateOptions">
		<legend>Template Options</legend>

		<p style="margin-left: 150px;">
			<b>Select from pre-written:</b> 
		</p>

		<select id="prewrittenNoteSelect" name="prewrittenNoteBox">

			<option>Select Template...</option>

			
		</select>

		<br />

		<input id="templateNoteCheckBox" type="checkbox" name="saveNoteTemplate" value="Save As New Template" />
		<p id="labelTempCheckBox">Save As New Template</p>

		<!-- Do not delete the div -->
		<div id="addTempTitleDIV">
			<!-- Used to add a text box in notes -->
		</div>

	</fieldset>
    </fieldset>
    </form>
</div>