@{
    ViewBag.Title = "OpenEHS - Help";
}
@section head
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#help-tab").addClass("current");
        });
    </script>
}

<h2>Help</h2>

