fieldset
{
    clear: both;
    padding: 20px;
}

.column
{
    float: left;
    margin-right: 20px;
}

#BasicInformationColumn
{
    float: left;
    margin-right: 20px;
}

#BasicInformationNotes
{
    float: left;
}

#Id
{
    width: 80px;
}

#FirstName, #MiddleName, #LastName, #PhoneNumber
{
    width: 125px;
}

#DateOfBirth
{
    width: 80px;
}

#Address_City, #Address_Region
{
    width: 125px;
}

#EmergencyContactMoreInfoLink
{
    color: #00f;
    cursor: pointer;
}

#EmergencyContactMoreInfo
{
    display: none;
}

#patientViewHeader
{
    clear: both;
    margin-left: 180px;
    padding: 0px;
}

#patientViewHeader h2
{
    float: left;
}

#allergiesHeader {
    margin-left: 20px;
    padding: 1px;
}

#allergiesTable {
    width: 700px;
    margin-left: 40px;
    margin-bottom: 20px;
}