fieldset
{
    clear: both;
    padding: 20px;
}

.column
{
    float: left;
    margin-right: 20px;
}

#BasicInformationColumn
{
    float: left;
    margin-right: 20px;
}

#BasicInformationNotes
{
    float: left;
}

#Id
{
    width: 80px;
}

#FirstName, #MiddleName, #LastName, #PhoneNumber
{
    width: 125px;
}

#DateOfBirth
{
    width: 80px;
}

#Address_City, #Address_Region
{
    width: 125px;
}

#EmergencyContactMoreInfoLink
{
    color: #00f;
    cursor: pointer;
}

#EmergencyContactMoreInfo
{
    display: none;
}

#patientViewHeader
{
    position: relative;
    margin-left: 180px;
    margin-bottom: -15px;
}

#patientViewHeader h2
{
    float: left;
    top: 50%;
}

#patientViewHeader h3
{
    display: inline-block;
    float: left;
    vertical-align: middle;
}